body {
    margin: 0;
}

#postWrap {
    background: bisque;
    border: 1px solid #e5cece;
}

div {
    display: flex;
    border: 1px solid #e5cece;
    justify-content: center;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}

p {
    width: 80%;
    border: 1px solid gold;
    text-align: center;
    margin: 0.2%;
    padding: 0.2%;
}

.commentWrap {
    background: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 99%;
    justify-content: space-evenly;
}

.commentDiv {
    width: 18%;
    justify-content: center;
    margin: 0.2%;
    border-radius: 1%;
    padding: 0.2%;
    text-align: center;
    align-content: space-around;
}